<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"> <a routerLink="/mapas">Mapas</a></li>
        <li class="breadcrumb-item" aria-current="page">Mapas Google</li>
        <li class="breadcrumb-item"><a routerLink="/mapas-mapbox">Mapas Mapbox</a></li>
    </ol>
</nav>
<h3>Ejemplos de Mapas Google</h3>
<h5>Mapas Google</h5>

<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.136263816579!2d-56.13820248441509!3d-34.90302978038316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f811610232aff%3A0xccbfb691fb160492!2sMontevideo%20Shopping%20Center!5e0!3m2!1ses-419!2suy!4v1680959610027!5m2!1ses-419!2suy"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>