<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Primeros Pasos</li>
        <li class="breadcrumb-item"><a class="p-2 link-secondary" routerLink="/formularios">Formularios</a></li>
        <li class="breadcrumb-item"><a class="p-2 link-secondary" routerLink="/formularios2">Formularios 2</a></li>
        <li class="breadcrumb-item"><a class="p-2 link-secondary" routerLink="/moment">Moment</a></li>
        <li class="breadcrumb-item"><a class="p-2 link-secondary" routerLink="/ruta-2/45/mi-mama-me-mima"
                routerLinkActive="enlaces">
                Ruta 2</a></li>
        <li class="breadcrumb-item"><a class="p-2 link-secondary" routerLink="/basicos" style="text-decoration: none"><i
                    class="bi bi-back">
                    Basicos</i></a></li>
        <li class="breadcrumb-item"><a class="p-2 link-secondary" routerLink="/modal">Modal</a></li>
        <li class="breadcrumb-item"><a class="p-2 link-secondary" routerLink="/modal-formulario">
                Modal Formulario</a></li>
        <li class="breadcrumb-item"><a class="p-2 link-secondary" routerLink="/ejemplo-5" routerLinkActive="enlaces">
                Ejemplo 5</a></li>
        <li class="breadcrumb-item"><a class="p-2 link-secondary" routerLink="/data-binding" routerLinkActive="enlaces">
                Data Binding</a></li>
    </ol>
</nav>
<h3>Primeros Pasos</h3>
<p>
    Mis primeros pasos en Angular.
</p>