<div class="container">
    <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-secondary" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" routerLink="/">Mi primera Pagina</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="link-secondary" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                        viewBox="0 0 24 24">
                        <title>Search</title>
                        <circle cx="10.5" cy="10.5" r="7.5" />
                        <path d="M21 21l-5.2-5.2" />
                    </svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 link-secondary" routerLink="/formularios"><i class="fas fa-link"> Formularios</i></a>
            <a class="p-2 link-secondary" routerLink="/formularios2"> Formularios </a>
            <a class="p-2 link-secondary" routerLink="/material"><i class="fa-regular fa-pen-to-square">
                    Material</i></a>
            <a class="p-2 link-secondary" routerLink="/ruta-2/45/mi-mama-me-mima" routerLinkActive="enlaces">Ruta 2</a>
            <a class="p-2 link-secondary" routerLink="/basicos" style="text-decoration: none"><i class="bi bi-back">
                    Basicos</i></a>
            <a class="p-2 link-secondary" routerLink="/modal">Modal</a>
            <a class="p-2 link-secondary" routerLink="/modal-formulario">Modal Formulario</a>
            <a class="p-2 link-secondary" routerLink="/moment">Moment</a>
            <a class="p-2 link-secondary" routerLink="/graficos">Graficos</a>
            <a class="p-2 link-secondary" routerLink="/mapas">Mapas</a>
            <a class="p-2 link-secondary" routerLink="/ejemplo-5" routerLinkActive="enlaces">Ejemplo 5</a>
            <a class="p-2 link-secondary" routerLink="/data-binding" routerLinkActive="enlaces">Data Binding</a>
            <a class="p-2 link-secondary" routerLink="/ciclo-vida" routerLinkActive="enlaces">Ciclo de Vida</a>
            <a class="p-2 link-secondary" routerLink="/comunicacion" routerLinkActive="enlaces">Comunicacion</a>
        </nav>
    </div>
</div>