<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/material">Material</a></li>
        <li class="breadcrumb-item"><a routerLink="/material/botones">Botones</a></li>
        <li class="breadcrumb-item active" aria-current="page">Input</li>
        <li class="breadcrumb-item"><a routerLink="/material/tabs">Tabs</a></li>
        <li class="breadcrumb-item"><a routerLink="/material/dialogs">Dialogs</a></li>
        <li class="breadcrumb-item"><a routerLink="/material/panel-expansion">Panel de Expansion</a></li>
        <li class="breadcrumb-item"><a routerLink="/material/cards">Cards</a></li>
    </ol>
</nav>
<h3>Input</h3>
<div class="contenedor">
    <mat-form-field>
        <input matInput type="number" [(ngModel)]="numero1" placeholder="Ingrese un numero" />
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number" [(ngModel)]="numero2" placeholder="Ingrese otro numero" />
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="opcion1">Sumar</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="opcion2">Restar</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="opcion3">Multiplicar</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="opcion4">Dividir</mat-slide-toggle>

    <button mat-raised-button (click)="calcular()" color="primary">Calcular</button>
    <hr>
    <p>
        {{resultado}}
    </p>

</div>