<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/material">Material</a></li>
        <li class="breadcrumb-item"><a routerLink="/material/botones">Botones</a></li>
        <li class="breadcrumb-item"><a routerLink="/material/input">Input</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tabs</li>
        <li class="breadcrumb-item"><a routerLink="/material/dialogs">Dialogs</a></li>
        <li class="breadcrumb-item"><a routerLink="/material/panel-expansion">Panel de Expansion</a></li>
        <li class="breadcrumb-item"><a routerLink="/material/cards">Cards</a></li>
    </ol>
</nav>
<h3>Tabs</h3>
<h5>Con animacion de la doc</h5>
<mat-tab-group>
    <mat-tab label="Dino 1">
        <div class="datos">
            <img src="/assets/images/canta.jpg" width="300" height="300" />
        </div>
    </mat-tab>
    <mat-tab label="T-Rex">
        <div class="datos">
            <img src="/assets/images/trex.jpg" width="300" height="300" />
        </div>
    </mat-tab>
    <mat-tab label="Piecito">
        <div class="datos">
            <img src="/assets/images/pie.jpg" width="300" height="300" />
        </div>
    </mat-tab>
</mat-tab-group>
<br />
<h5>Sin animacion de la documentacion</h5>
<mat-tab-group animationDuration="0ms">
    <mat-tab label="Dino 1">
        <div class="datos">
            <img src="/assets/images/canta.jpg" width="300" height="300" />
        </div>
    </mat-tab>
    <mat-tab label="T-Rex">
        <div class="datos">
            <img src="/assets/images/trex.jpg" width="300" height="300" />
        </div>
    </mat-tab>
    <mat-tab label="Piecito">
        <div class="datos">
            <img src="/assets/images/pie.jpg" width="300" height="300" />
        </div>
    </mat-tab>
</mat-tab-group>