<h4>Ejemplos con Moment </h4>
<ul>
    <li>
        Fecha: {{fecha}}
    </li>
    <li>
        Fecha Corta: {{fechaCorta}}
    </li>
    <li>
        Fecha cadena: {{diaNumero}}[{{diaStringFinal}}] de {{mesString}} ({{mesNumero}}) del {{anio}}
    </li>
</ul>

<hr>
<h4>
    Calculo con Fechas
</h4>

<ul>
    <li>
        Fecha + 7 dias: {{FechaDias}}
    </li>
    <li>
        Fecha + 7 dias: {{FechaMenosDias}}
    </li>
    <li>
        Fecha + 7 meses: {{FechaMes}}
    </li>
    <li>
        Fecha + 7 meses: {{FechaMenosMes}}
    </li>
    <li>
        Fecha + 7 anios: {{FechaAnio}}
    </li>
    <li>
        Fecha + 7 anios: {{FechaMenosAnio}}
    </li>
</ul>